.product {
  .header {
    .menu {
      .product-menu {
        color: #ff7c90;
      }
    }
  }
}
.productcontainer {
  display: flex;
  margin-top: 60px;
  .sibar {
    width: 300px;
    position: fixed;
    padding: 50px 0 0 50px;

    .sibar-item {
      font-family: bungee;
      font-size: 14px;
      color: black;

      &:not(:first-child):hover {
        color: #ff7c90;
      }

      &:hover {
        color: #ff7c90;
      }
    }
    #nap-thuong,
    #nap-vom {
      list-style: disc;
      margin-left: 30px;
      // display: block;
    }
  }
  .product-content {
    margin-left: 300px;
    padding: 0 60px;
    width: 100%;
    border-left: 2px solid #ccc;
  }
}
.product-title {
  margin: 40px 0;
  font-size: 20px;
  height: auto;
  font-family: Bungee;
}
.mockhoa-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 63px;
  column-gap: 40px;
  margin-bottom: 120px;
}

.filter {
  display: flex;
  justify-content: flex-end;
  position: relative;
  input {
    height: 35px;
    width: 300px;
    border: none;
    padding-left: 10px;
    background-color: #ffc3cc;
    position: absolute;
    top: 40px;
  }
}

@media screen and (min-width: 360px) and( max-width:768px) {
  .productcontainer {
    margin-top: 80px;
  }
  .sibar {
    display: none;
  }

  .product-content {
    margin-left: 0 !important;
    padding: 30px 20px 0 20px !important;
  }
  .filter {
    input {
      width: 100%;
      height: 35px;
      top: 10px;
    }
  }
  .mockhoa {
    margin-top: 75px;
  }
  .mockhoa-list {
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 22px;
    margin-bottom: 50px !important;
    .product-item {
      img {
        height: 190px;
      }
      .name {
        font-size: 1.3rem;
      }
      .price {
        margin-top: 0;
      }
    }
  }
  .product-title {
    margin-bottom: 20px !important;
  }
}
@media screen and (min-width: 601px) and( max-width:768px) {
  .product-item {
    img {
      height: 350px !important;
    }
    .name {
      font-size: 1.6rem !important;
    }
    .price {
      margin-top: 0;
      font-size: 1.6rem !important;
    }
  }
}
