.title{
    width: 100%;
    height: 50px;
    background-color: #d95469;
    font-family: bungee;
    font-size: 2rem;
    line-height: 50px;
    color: white;
    text-align: center;
    border: 2px   solid gray;
}