:root {
    --main-font: Bungee;
    --primary-color: #FF7C90;
    --boder-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 30px;
    --font-text: 'Courier New', monospace;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: var(--primary-color);
}



.App{
    color: #333;
    width: 100%;
    font-size: 1.6rem;
}
@media screen and (max-width: 391px) {
    .App{
        overflow-x: hidden;
        .cart{

            .alert{
                font-size: 2rem !important;
            }
        }
    }
}
@media screen and (max-width: 391px){
    .footer{
        padding-top: 50px;
        display: block !important;
        .footer-item{
            width: 100% !important;
            .footer-title{
                margin-top: 0 !important;
            }
        }
        .info{
            display: none;
        }
        .contact{
            display: none !important;
        }
    }
} 