.form-signup{
    background-color: #F7DE24 !important;
}

.signup{
    .header{
        .menu{
            .signup-menu{
                color: #FFA4B2;
            }
        }
    }
}


.signupcontainer{
    display: flex;
    padding: 10px 0 20px 0;
    margin-top: 70px;
    .form-signup{
        background-color: #FFA4B2;
        position: relative;
        box-shadow: 15px 15px #918d91;
        width: 558px;
        height: 548px;

        img{
            position: absolute;
            width: 672px;
            height: 350px;
            bottom: 35px;
            left: -68px;
        }
    }
    .form-right{
        flex: 1;
        padding-left: 120px;
        position: relative;

        .check{
            position: absolute;
            top: 20px;
            right: 30px;
        }
        h1{
            margin-top: 60px;
            font-size: 3.8rem;
            font-weight: 600;
        }
        .user , .password{
            margin-top: 25px;

            p{
                font-size: 18px;
                margin-bottom: 10px;
            }
            input{
                width: 320px;
                box-shadow: 6px 6px #888888;
                height: 35px;
                padding-left: 5px;
                font-size: 1.6rem;
            }
        }

        .password{
            margin-bottom: 20px;
        }
    }

    

}

.username{
    font-size: 18px;
    margin-bottom: 10px;
    p:first-child{

        margin-right: 100px;
    }
    display: flex;
}
.input{
    display: flex;
    width: 322px;
    overflow: hidden;
    box-shadow: 6px 6px #888888;
    .ho{
        width: 120px;
        font-size: 1.6rem;
        box-shadow: 6px 6px #888888;
        height: 35px;
        padding-left: 5px;
        border-right: none;
    }
    .ten{
        width: 202px;
        box-shadow: 6px 6px #888888;
        height: 35px;
        font-size: 1.6rem;

        padding-left: 5px;
    }
}
.checkbox{
    display: flex;
    margin: 20px 0;

    input{
        margin-right: 15px;
        width: 20px;
        height: 20px;
    }
    p{
        font-size: 14px;
    }
}
@media screen and (min-width: 360px) and (max-width: 767px){
    .signup{
        display:block;
        .signupcontainer{
            display:block;
            background-color: #F7DE24;
            margin-top:40px;
            padding-bottom:80px;
            .form-signup{   
                display:none;
            }
            .form-right{
                padding:0 20px;
                h1{
                    font-size:2.6rem;
                    margin-bottom:30px;
                }
                input{
                    width:100%;
                }
               .input{
                   width:unset;
                   .ho{
                    width:120px ;
                }
               }

               .checkbox{
                   input{
                       width:20px;
                       height:20px;

                   }
               }
               button{
                   height: 40px;
               }
            }
            .check{
                bottom:-45px;
                top:unset;
                left:20px;
            }
        }
    }
}